<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gouzhong1223.cymmtj.mapper.ArticleCommentMapper">
    <resultMap id="BaseResultMap" type="org.gouzhong1223.cymmtj.entity.ArticleComment">
        <!--@mbg.generated-->
        <!--@Table tb_article_comment-->
        <result column="commentId" jdbcType="INTEGER" property="commentId"/>
        <result column="acticleId" jdbcType="INTEGER" property="acticleId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        commentId, acticleId
    </sql>
    <insert id="insert" parameterType="org.gouzhong1223.cymmtj.entity.ArticleComment">
        <!--@mbg.generated-->
        insert into tb_article_comment (commentId, acticleId)
        values (#{commentId,jdbcType=INTEGER}, #{acticleId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="org.gouzhong1223.cymmtj.entity.ArticleComment">
        <!--@mbg.generated-->
        insert into tb_article_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commentId != null">
                commentId,
            </if>
            <if test="acticleId != null">
                acticleId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commentId != null">
                #{commentId,jdbcType=INTEGER},
            </if>
            <if test="acticleId != null">
                #{acticleId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

<!--auto generated by MybatisCodeHelper on 2020-05-11-->
    <select id="selectAllByActicleId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_article_comment
        <where>
            <if test="acticleId != null">
                and acticleId=#{acticleId,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>