<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gouzhong1223.cymmtj.mapper.AwesomeCommentWechatUserMapper">
    <resultMap id="BaseResultMap" type="org.gouzhong1223.cymmtj.entity.AwesomeCommentWechatUser">
        <!--@mbg.generated-->
        <!--@Table tb_awesome_comment_wechatUser-->
        <result column="commentId" jdbcType="INTEGER" property="commentId"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        commentId, token
    </sql>
    <insert id="insert" parameterType="org.gouzhong1223.cymmtj.entity.AwesomeCommentWechatUser">
        <!--@mbg.generated-->
        insert into tb_awesome_comment_wechatUser (commentId, token)
        values (#{commentId,jdbcType=INTEGER}, #{token,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="org.gouzhong1223.cymmtj.entity.AwesomeCommentWechatUser">
        <!--@mbg.generated-->
        insert into tb_awesome_comment_wechatUser
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commentId != null">
                commentId,
            </if>
            <if test="token != null and token != ''">
                token,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commentId != null">
                #{commentId,jdbcType=INTEGER},
            </if>
            <if test="token != null and token != ''">
                #{token,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2020-05-11-->
    <select id="selectAllByToken" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_awesome_comment_wechatUser
        <where>
            <if test="token != null and token != ''">
                and token=#{token,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-05-11-->
    <delete id="deleteByCommentIdAndToken">
        delete from tb_awesome_comment_wechatUser
        <where>
            <if test="commentId != null">
                and commentId=#{commentId,jdbcType=INTEGER}
            </if>
            <if test="token != null and token != ''">
                and token=#{token,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>
</mapper>