<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~              Copyright 2020 By Gouzhong1223
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gouzhong1223.cymmtj.mapper.CatCommentMapper">
    <resultMap id="BaseResultMap" type="org.gouzhong1223.cymmtj.entity.CatComment">
        <!--@mbg.generated-->
        <!--@Table tb_cat_comment-->
        <result column="commentId" jdbcType="INTEGER" property="commentId"/>
        <result column="catId" jdbcType="INTEGER" property="catId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        commentId, catId
    </sql>
    <insert id="insert" parameterType="org.gouzhong1223.cymmtj.entity.CatComment">
        <!--@mbg.generated-->
        insert into tb_cat_comment (commentId, catId)
        values (#{commentId,jdbcType=INTEGER}, #{catId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="org.gouzhong1223.cymmtj.entity.CatComment">
        <!--@mbg.generated-->
        insert into tb_cat_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commentId != null">
                commentId,
            </if>
            <if test="catId != null">
                catId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commentId != null">
                #{commentId,jdbcType=INTEGER},
            </if>
            <if test="catId != null">
                #{catId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2020-05-10-->
    <select id="selectAllByCatId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_cat_comment
        <where>
            <if test="catId != null">
                and catId=#{catId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2020-05-13-->
    <delete id="deleteByCommentIdAndCatId">
        delete from tb_cat_comment
        <where>
            <if test="commentId != null">
                and commentId=#{commentId,jdbcType=INTEGER}
            </if>
            <if test="catId != null">
                and catId=#{catId,jdbcType=INTEGER}
            </if>
        </where>
    </delete>
</mapper>