<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gouzhong1223.cymmtj.mapper.CatRegionMapper">
  <resultMap id="BaseResultMap" type="org.gouzhong1223.cymmtj.pojo.CatRegion">
    <!--@mbg.generated-->
    <!--@Table tb_cat_region-->
    <result column="regionId" jdbcType="INTEGER" property="regionId" />
    <result column="catId" jdbcType="INTEGER" property="catId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    regionId, catId
  </sql>
  <insert id="insert" parameterType="org.gouzhong1223.cymmtj.pojo.CatRegion">
    <!--@mbg.generated-->
    insert into tb_cat_region (regionId, catId)
    values (#{regionId,jdbcType=INTEGER}, #{catId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.gouzhong1223.cymmtj.pojo.CatRegion">
    <!--@mbg.generated-->
    insert into tb_cat_region
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="regionId != null">
        regionId,
      </if>
      <if test="catId != null">
        catId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="regionId != null">
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="catId != null">
        #{catId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>