<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~              Copyright 2020 By Gouzhong1223
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gouzhong1223.cymmtj.mapper.CatRefrrerMapper">
    <resultMap id="BaseResultMap" type="org.gouzhong1223.cymmtj.entity.CatRefrrer">
        <!--@mbg.generated-->
        <!--@Table tb_cat_refrrer-->
        <result column="catId" jdbcType="INTEGER" property="catId"/>
        <result column="referrerEmail" jdbcType="VARCHAR" property="referrerEmail"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        catId, referrerEmail, token
    </sql>
    <insert id="insert" parameterType="org.gouzhong1223.cymmtj.entity.CatRefrrer">
        <!--@mbg.generated-->
        insert into tb_cat_refrrer (catId, referrerEmail, token
        )
        values (#{catId,jdbcType=INTEGER}, #{referrerEmail,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="org.gouzhong1223.cymmtj.entity.CatRefrrer">
        <!--@mbg.generated-->
        insert into tb_cat_refrrer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="catId != null">
                catId,
            </if>
            <if test="referrerEmail != null and referrerEmail != ''">
                referrerEmail,
            </if>
            <if test="token != null and token != ''">
                token,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="catId != null">
                #{catId,jdbcType=INTEGER},
            </if>
            <if test="referrerEmail != null and referrerEmail != ''">
                #{referrerEmail,jdbcType=VARCHAR},
            </if>
            <if test="token != null and token != ''">
                #{token,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2020-05-06-->
    <select id="selectOneByCatId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_cat_refrrer
        <where>
            <if test="catId != null">
                and catId=#{catId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-05-12-->
    <select id="selectAllByToken" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_cat_refrrer
        <where>
            <if test="token != null and token != ''">
                and token=#{token,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>