<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~              Copyright 2020 By Gouzhong1223
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gouzhong1223.cymmtj.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="org.gouzhong1223.cymmtj.entity.Comment">
        <!--@mbg.generated-->
        <!--@Table tb_comment-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="awesomeCount" jdbcType="INTEGER" property="awesomeCount"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="nickName" jdbcType="VARCHAR" property="nickName"/>
        <result column="avaterUrl" jdbcType="VARCHAR" property="avaterUrl"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, content, createTime, awesomeCount, token, nickName, avaterUrl
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from tb_comment
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from tb_comment
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.gouzhong1223.cymmtj.entity.Comment"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_comment (content, createTime, awesomeCount,
        token, nickName, avaterUrl
        )
        values (#{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{awesomeCount,jdbcType=INTEGER},
        #{token,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{avaterUrl,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.gouzhong1223.cymmtj.entity.Comment"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null and content != ''">
                content,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="awesomeCount != null">
                awesomeCount,
            </if>
            <if test="token != null and token != ''">
                token,
            </if>
            <if test="nickName != null and nickName != ''">
                nickName,
            </if>
            <if test="avaterUrl != null and avaterUrl != ''">
                avaterUrl,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null and content != ''">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="awesomeCount != null">
                #{awesomeCount,jdbcType=INTEGER},
            </if>
            <if test="token != null and token != ''">
                #{token,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null and nickName != ''">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="avaterUrl != null and avaterUrl != ''">
                #{avaterUrl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.gouzhong1223.cymmtj.entity.Comment">
        <!--@mbg.generated-->
        update tb_comment
        <set>
            <if test="content != null and content != ''">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="awesomeCount != null">
                awesomeCount = #{awesomeCount,jdbcType=INTEGER},
            </if>
            <if test="token != null and token != ''">
                token = #{token,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null and nickName != ''">
                nickName = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="avaterUrl != null and avaterUrl != ''">
                avaterUrl = #{avaterUrl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.gouzhong1223.cymmtj.entity.Comment">
        <!--@mbg.generated-->
        update tb_comment
        set content = #{content,jdbcType=VARCHAR},
        createTime = #{createTime,jdbcType=TIMESTAMP},
        awesomeCount = #{awesomeCount,jdbcType=INTEGER},
        token = #{token,jdbcType=VARCHAR},
        nickName = #{nickName,jdbcType=VARCHAR},
        avaterUrl = #{avaterUrl,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-05-10-->
    <update id="awesomeComment">
        update tb_comment
        set awesomeCount=awesomeCount+1
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=INTEGER}
            </if>
        </where>
    </update>

    <update id="unAwesomeComment">
        update tb_comment
        set awesomeCount=awesomeCount-1
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=INTEGER}
            </if>
        </where>
    </update>
</mapper>