<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gouzhong1223.cymmtj.mapper.PicMapper">
    <resultMap id="BaseResultMap" type="org.gouzhong1223.cymmtj.entity.Pic">
        <!--@mbg.generated-->
        <!--@Table tb_pic-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="fileLink" jdbcType="VARCHAR" property="fileLink"/>
        <result column="fileUri" jdbcType="VARCHAR" property="fileUri"/>
        <result column="uploadTime" jdbcType="TIMESTAMP" property="uploadTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, fileLink, fileUri, uploadTime
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from tb_pic
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from tb_pic
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="org.gouzhong1223.cymmtj.entity.Pic">
        <!--@mbg.generated-->
        insert into tb_pic (id, fileLink, fileUri,
        uploadTime)
        values (#{id,jdbcType=INTEGER}, #{fileLink,jdbcType=VARCHAR}, #{fileUri,jdbcType=VARCHAR},
        #{uploadTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="org.gouzhong1223.cymmtj.entity.Pic">
        <!--@mbg.generated-->
        insert into tb_pic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="fileLink != null and fileLink != ''">
                fileLink,
            </if>
            <if test="fileUri != null and fileUri != ''">
                fileUri,
            </if>
            <if test="uploadTime != null">
                uploadTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="fileLink != null and fileLink != ''">
                #{fileLink,jdbcType=VARCHAR},
            </if>
            <if test="fileUri != null and fileUri != ''">
                #{fileUri,jdbcType=VARCHAR},
            </if>
            <if test="uploadTime != null">
                #{uploadTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.gouzhong1223.cymmtj.entity.Pic">
        <!--@mbg.generated-->
        update tb_pic
        <set>
            <if test="fileLink != null and fileLink != ''">
                fileLink = #{fileLink,jdbcType=VARCHAR},
            </if>
            <if test="fileUri != null and fileUri != ''">
                fileUri = #{fileUri,jdbcType=VARCHAR},
            </if>
            <if test="uploadTime != null">
                uploadTime = #{uploadTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.gouzhong1223.cymmtj.entity.Pic">
        <!--@mbg.generated-->
        update tb_pic
        set fileLink = #{fileLink,jdbcType=VARCHAR},
        fileUri = #{fileUri,jdbcType=VARCHAR},
        uploadTime = #{uploadTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-04-19-->
    <insert id="insertList">
        INSERT INTO tb_pic(
        id,
        link
        )VALUES
        <foreach collection="list" index="index" item="element" separator=",">
            (
            #{element.id,jdbcType=INTEGER},
            #{element.link,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2020-04-20-->
    <select id="selectFirstLinkById" resultType="java.lang.String">
        select link
        from tb_pic
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=INTEGER}
            </if>
        </where>
        limit 1
    </select>
</mapper>