<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gouzhong1223.cymmtj.mapper.PicMapper">
  <resultMap id="BaseResultMap" type="org.gouzhong1223.cymmtj.pojo.Pic">
    <!--@mbg.generated-->
    <!--@Table tb_pic-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="link" jdbcType="VARCHAR" property="link" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, link
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_pic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from tb_pic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.gouzhong1223.cymmtj.pojo.Pic">
    <!--@mbg.generated-->
    insert into tb_pic (id, link)
    values (#{id,jdbcType=INTEGER}, #{link,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.gouzhong1223.cymmtj.pojo.Pic">
    <!--@mbg.generated-->
    insert into tb_pic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="link != null and link != ''">
        link,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="link != null and link != ''">
        #{link,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.gouzhong1223.cymmtj.pojo.Pic">
    <!--@mbg.generated-->
    update tb_pic
    <set>
      <if test="link != null and link != ''">
        link = #{link,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.gouzhong1223.cymmtj.pojo.Pic">
    <!--@mbg.generated-->
    update tb_pic
    set link = #{link,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-04-19-->
  <insert id="insertList">
        INSERT INTO tb_pic(
        id,
        link
        )VALUES
        <foreach collection="list" item="element" index="index" separator=",">
            (
            #{element.id,jdbcType=INTEGER},
            #{element.link,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
</mapper>