<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gouzhong1223.cymmtj.mapper.WechatUserMapper">
  <resultMap id="BaseResultMap" type="org.gouzhong1223.cymmtj.pojo.WechatUser">
    <!--@mbg.generated-->
    <!--@Table tb_wechatUser-->
    <id column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="skey" jdbcType="VARCHAR" property="skey" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="lastvisittime" jdbcType="TIMESTAMP" property="lastvisittime" />
    <result column="sessionkey" jdbcType="VARCHAR" property="sessionkey" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="avatarurl" jdbcType="VARCHAR" property="avatarurl" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    openid, skey, createtime, lastvisittime, sessionkey, city, province, country, avatarurl, 
    gender, nickname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_wechatUser
    where openid = #{openid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from tb_wechatUser
    where openid = #{openid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.gouzhong1223.cymmtj.pojo.WechatUser">
    <!--@mbg.generated-->
    insert into tb_wechatUser (openid, skey, createtime, 
      lastvisittime, sessionkey, city, 
      province, country, avatarurl, 
      gender, nickname)
    values (#{openid,jdbcType=VARCHAR}, #{skey,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{lastvisittime,jdbcType=TIMESTAMP}, #{sessionkey,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{avatarurl,jdbcType=VARCHAR}, 
      #{gender,jdbcType=TINYINT}, #{nickname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.gouzhong1223.cymmtj.pojo.WechatUser">
    <!--@mbg.generated-->
    insert into tb_wechatUser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openid != null and openid != ''">
        openid,
      </if>
      <if test="skey != null and skey != ''">
        skey,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="lastvisittime != null">
        lastvisittime,
      </if>
      <if test="sessionkey != null and sessionkey != ''">
        sessionkey,
      </if>
      <if test="city != null and city != ''">
        city,
      </if>
      <if test="province != null and province != ''">
        province,
      </if>
      <if test="country != null and country != ''">
        country,
      </if>
      <if test="avatarurl != null and avatarurl != ''">
        avatarurl,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="nickname != null and nickname != ''">
        nickname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="openid != null and openid != ''">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="skey != null and skey != ''">
        #{skey,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastvisittime != null">
        #{lastvisittime,jdbcType=TIMESTAMP},
      </if>
      <if test="sessionkey != null and sessionkey != ''">
        #{sessionkey,jdbcType=VARCHAR},
      </if>
      <if test="city != null and city != ''">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null and province != ''">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null and country != ''">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="avatarurl != null and avatarurl != ''">
        #{avatarurl,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="nickname != null and nickname != ''">
        #{nickname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.gouzhong1223.cymmtj.pojo.WechatUser">
    <!--@mbg.generated-->
    update tb_wechatUser
    <set>
      <if test="skey != null and skey != ''">
        skey = #{skey,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastvisittime != null">
        lastvisittime = #{lastvisittime,jdbcType=TIMESTAMP},
      </if>
      <if test="sessionkey != null and sessionkey != ''">
        sessionkey = #{sessionkey,jdbcType=VARCHAR},
      </if>
      <if test="city != null and city != ''">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null and province != ''">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null and country != ''">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="avatarurl != null and avatarurl != ''">
        avatarurl = #{avatarurl,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="nickname != null and nickname != ''">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
    </set>
    where openid = #{openid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.gouzhong1223.cymmtj.pojo.WechatUser">
    <!--@mbg.generated-->
    update tb_wechatUser
    set skey = #{skey,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      lastvisittime = #{lastvisittime,jdbcType=TIMESTAMP},
      sessionkey = #{sessionkey,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      avatarurl = #{avatarurl,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      nickname = #{nickname,jdbcType=VARCHAR}
    where openid = #{openid,jdbcType=VARCHAR}
  </update>
</mapper>