<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gouzhong1223.cymmtj.mapper.WechatUserMapper">
  <resultMap id="BaseResultMap" type="org.gouzhong1223.cymmtj.pojo.WechatUser">
    <!--@mbg.generated-->
    <!--@Table tb_wechatUser-->
    <id column="open_id" jdbcType="VARCHAR" property="open_id" />
    <result column="skey" jdbcType="VARCHAR" property="skey" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="last_visit_time" jdbcType="TIMESTAMP" property="last_visit_time" />
    <result column="session_key" jdbcType="VARCHAR" property="session_key" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatar_url" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="nick_name" jdbcType="VARCHAR" property="nick_name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    open_id, skey, create_time, last_visit_time, session_key, city, province, country, 
    avatar_url, gender, nick_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_wechatUser
    where open_id = #{open_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from tb_wechatUser
    where open_id = #{open_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.gouzhong1223.cymmtj.pojo.WechatUser">
    <!--@mbg.generated-->
    insert into tb_wechatUser (open_id, skey, create_time, 
      last_visit_time, session_key, city, 
      province, country, avatar_url, 
      gender, nick_name)
    values (#{open_id,jdbcType=VARCHAR}, #{skey,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, 
      #{last_visit_time,jdbcType=TIMESTAMP}, #{session_key,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{avatar_url,jdbcType=VARCHAR}, 
      #{gender,jdbcType=TINYINT}, #{nick_name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.gouzhong1223.cymmtj.pojo.WechatUser">
    <!--@mbg.generated-->
    insert into tb_wechatUser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="open_id != null and open_id != ''">
        open_id,
      </if>
      <if test="skey != null and skey != ''">
        skey,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="last_visit_time != null">
        last_visit_time,
      </if>
      <if test="session_key != null and session_key != ''">
        session_key,
      </if>
      <if test="city != null and city != ''">
        city,
      </if>
      <if test="province != null and province != ''">
        province,
      </if>
      <if test="country != null and country != ''">
        country,
      </if>
      <if test="avatar_url != null and avatar_url != ''">
        avatar_url,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="nick_name != null and nick_name != ''">
        nick_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="open_id != null and open_id != ''">
        #{open_id,jdbcType=VARCHAR},
      </if>
      <if test="skey != null and skey != ''">
        #{skey,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="last_visit_time != null">
        #{last_visit_time,jdbcType=TIMESTAMP},
      </if>
      <if test="session_key != null and session_key != ''">
        #{session_key,jdbcType=VARCHAR},
      </if>
      <if test="city != null and city != ''">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null and province != ''">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null and country != ''">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="avatar_url != null and avatar_url != ''">
        #{avatar_url,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="nick_name != null and nick_name != ''">
        #{nick_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.gouzhong1223.cymmtj.pojo.WechatUser">
    <!--@mbg.generated-->
    update tb_wechatUser
    <set>
      <if test="skey != null and skey != ''">
        skey = #{skey,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="last_visit_time != null">
        last_visit_time = #{last_visit_time,jdbcType=TIMESTAMP},
      </if>
      <if test="session_key != null and session_key != ''">
        session_key = #{session_key,jdbcType=VARCHAR},
      </if>
      <if test="city != null and city != ''">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null and province != ''">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null and country != ''">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="avatar_url != null and avatar_url != ''">
        avatar_url = #{avatar_url,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="nick_name != null and nick_name != ''">
        nick_name = #{nick_name,jdbcType=VARCHAR},
      </if>
    </set>
    where open_id = #{open_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.gouzhong1223.cymmtj.pojo.WechatUser">
    <!--@mbg.generated-->
    update tb_wechatUser
    set skey = #{skey,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      last_visit_time = #{last_visit_time,jdbcType=TIMESTAMP},
      session_key = #{session_key,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      avatar_url = #{avatar_url,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      nick_name = #{nick_name,jdbcType=VARCHAR}
    where open_id = #{open_id,jdbcType=VARCHAR}
  </update>
</mapper>